@import url("https://fonts.googleapis.com/css2?family=Fraunces:wght@400&family=Manrope:wght@400;700&display=swap");

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Manrope";
}

:root {
  --Darkpurple: #24053e;
  --jade: #44ffa1;
  --gray: #584d62;
  --GhostWhite: #fcf8ff;
  --white: #ffffff;
}

header {
  background-color: var(--Darkpurple);
  padding: 32px 16px 0px 16px;
}

p {
  color: var(--white);
  font-size: 16px;
  font-weight: 700;
  font-family: "manrope";
}

.underline {
  background-color: var(--jade);
  width: 124px;
  height: 3px;
  margin-top: 3px;
}

.top {
  display: flex;
  justify-content: space-between;
}

h2 {
  font-family: "Fraunces";
  font-size: 50px;
  font-weight: 100;
  color: var(--white);
  margin-top: 65px;
  text-align: center;
}

.underline1 {
  background-color: var(--jade);
  height: 3px;
  width: 180px;
  margin-left: 42%;
}

button {
  background-color: var(--jade);
  width: 133px;
  height: 55px;
  font-size: 16px;
  color: var(--Darkpurple);
  font-weight: 700;
  margin-top: 51px;
  margin-bottom: 106px;
  border: none;
}

.center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.circle {
  width: 100%px;
  height: 50px;
  background-color: var(--Darkpurple);
  border-bottom-left-radius: 50%;
  border-bottom-right-radius: 50%;
}

.phone {
  position: absolute;
  top: 430px;
  left: 10%;
}

.smallcircle {
  width: 48px;
  height: 46px;
  border: 1px solid #584d62;
  border-radius: 50%;
  font-family: "Fraunces";
  font-size: 20px;
  font-weight: 600;
  color: var(--Darkpurple);
  text-align: center;
  margin: auto;
  margin-top: 155px;
}

h3 {
  font-family: "Fraunces";
  font-weight: 600;
  font-size: 28px;
  text-align: center;
  margin-top: 24px;
  color: var(--Darkpurple);
}

.description {
  font-size: 16px;
  font-weight: 400;
  color: var(--gray);
  text-align: center;
  margin-top: 16px;
  padding: 0px 16px 0px 16px;
}

.mt {
  margin-top: 40px;
}

.person {
  margin-top: 172px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 47px;
}

.befirst {
  width: 343px;
  height: 375px;
  background-color: var(--Darkpurple);
  margin: auto;
  margin-bottom: 74px;
  padding: 32px 32px 32px 32px;
  position: relative;
  top: -50px;
}

.test {
  font-size: 32px;
  font-weight: 500;
  color: var(--white);
  font-family: "Fraunces";
  margin-bottom: 16px;
  margin-top: 0px;
}

.cw {
  color: var(--white);
  line-height: 28px;
  padding: 0px 0px 0px 0px;
  font-weight: 100;
}

.apply {
  width: 172px;
  height: 55px;
  background-color: var(--jade);
  font-size: 16px;
  font-weight: 700;
  color: var(--Darkpurple);
  border: none;
  margin-top: 24px;
}

.spiral {
  display: none;
}

.socialmedia {
  display: flex;
  justify-content: center;
  gap: 28px;
  margin-top: 60px;
  margin-bottom: 65px;
}

@media screen and (min-width: 1200px) {
  header {
    height: 730px;
    background-image: url(./resorces/circle\ left.svg),
      url(./resorces/circle\ right.svg);
    background-repeat: no-repeat;
    background-position: 0% 40%, 100% 60%;
  }

  .top {
    margin-top: 26px;
    margin-left: 133px;
    margin-right: 133px;
  }

  .top p {
    font-size: 18px;
    cursor: pointer;
  }

  .top p:hover {
    color: #44ffa1;
  }

  .underline {
    width: 141px;
  }

  h2 {
    font-size: 80px;
  }

  .underline1 {
    width: 287px;
    margin-left: 47%;
  }

  header button {
    margin-top: 37px;
    cursor: pointer;
  }

  button:hover {
    background-color: var(--Darkpurple);
    border: 2px solid #44ffa1;
    color: #44ffa1;
  }

  .phone {
    width: 715px;
    height: 405px;
    top: 500px;
    left: 25%;
  }

  .text {
    display: grid;
    grid-template-columns: auto auto auto auto;
    margin: 0px 165px 0px 165px;
  }

  .smallcircle {
    margin-top: 250px;
    margin-bottom: 56px;
  }

  h3 {
    font-size: 32px;
  }

  .description {
    margin-top: 28px;
    font-size: 18px;
  }

  .person {
    margin-left: 162px;
    width: 477px;
    height: 477px;
    margin-top: 281px;
  }

  .befirst {
    width: 730px;
    height: 413px;
    top: -303px;
    left: 200px;
    /* background-image: url(./resorces/Group\ 10.svg);
    background-repeat: no-repeat;
    background-position: 80% 130%; */
    margin-bottom: 0px;
  }

  .test {
    font-size: 56px;
    display: flex;
    align-items: start;
    margin-top: 32px;
    margin-left: 32px;
  }

  .befirst .description {
    text-align: start;
    margin-left: 32px;
  }

  .befirst p {
    font-size: 18px;
    display: flex;
    align-items: stretch;
  }

  .start {
    display: flex;
    align-items: flex-startხ„;
  }

  .befirst button {
    margin-top: 32px;
    margin-left: 32px;
    cursor: pointer;
  }

  .befirst button:hover {
    background-color: var(--Darkpurple);
    border: 2px solid #44ffa1;
    color: #44ffa1;
  }

  .befirst .center {
    display: flex;
    justify-content: start;
    align-items: flex-start;
  }

  .spiral {
    display: flex;
    position: relative;
    bottom: 183px;
    left: 400px;
  }

  .apply {
    width: 190px;
    height: 61px;
  }

  .footer {
    margin-top: 120px;
  }

  .socialmedia {
    margin-bottom: 111px;
    cursor: pointer;
  }
}
